<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>COVID-19 Tips</title>
  <meta name="description" content="COVID-19 Tips">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <style>
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc; 
    }
    
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
  </style>
</head>

<body>
    <h2 style='text-align: center'>Coping with COVID-19</h2>
    <button class='accordion'> <h3>Pandemics can be stressful</h3></button>
    <div class='panel'>

    <p>The coronavirus disease 2019 (COVID-19) pandemic may be stressful for people. Fear and anxiety about a new disease and what could happen can be overwhelming and cause strong emotions in adults and children. Public health actions, such as social distancing, can make people feel isolated and lonely and can increase stress and anxiety. However, these actions are necessary to reduce the spread of COVID-19. <strong>Coping with stress in a healthy way will make you, the people you care about, and your community stronger.</strong></p>
    <p>Stress during an infectious disease outbreak can sometimes cause the following:</p>
    <li>Fear and worry about your own health and the health of your loved ones, your financial situation or job, or loss of support services you rely on.</li>
    <li>Changes in sleep or eating patterns.</li>
    <li>Difficulty sleeping or concentrating.</li>
    <li>Worsening of chronic health problems.</li>
    <li>Worsening of mental health conditions.</li>
    <li>Increased use of tobacco and/or alcohol and other substances.</li>

    <button class='accordion'> <h3>Take care of your mental health </h3></button>
    <div class= 'panel'>
    <div class="col-md-10">
        <p>You may experience increased stress during this pandemic. Fear and anxiety can be overwhelming and cause strong emotions.</p>
        <p><strong>Get immediate help in a crisis</strong></p>
        <ul>
        <li>Call 911</li>
        <li><a href="https://www.samhsa.gov/disaster-preparedness" class="tp-link-policy" data-domain-ext="gov">Disaster Distress Helpline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: CALL or TEXT 1-800-985-5990 (press 2 for Spanish).</li>
        <li><a href="http://www.suicidepreventionlifeline.org/" class="tp-link-policy" data-domain-ext="org">National Suicide Prevention Lifeline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-273-TALK (8255) for English, 1-888-628-9454 for Spanish, or <a href="http://www.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx" class="tp-link-policy" data-domain-ext="org">Lifeline Crisis Chat<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>.</li>
        <li><a href="https://www.thehotline.org/" class="tp-link-policy" data-domain-ext="org">National Domestic Violence Hotline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-799-7233 or text LOVEIS to 22522</li>
        <li><a href="https://www.childhelp.org/hotline/" class="tp-link-policy" data-domain-ext="org">National Child Abuse Hotline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-4AChild (1-800-422-4453) or text 1-800-422-4453</li>
        <li><a href="https://rainn.org/" class="tp-link-policy" data-domain-ext="org">National Sexual Assault Hotline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-656-HOPE (4673) or <a href="https://hotline.rainn.org/online" class="tp-link-policy" data-domain-ext="org">Online Chat<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        <li><a href="https://eldercare.acl.gov/Public/Index.aspx" class="tp-link-policy" data-domain-ext="gov">The Eldercare Locator<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>:&nbsp;1-800-677-1116 &nbsp;<a href="https://eldercare.acl.gov/Public/About/Contact_Info/Index.aspx" class="tp-link-policy" data-domain-ext="gov">TTY Instructions<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        <li><a href="https://www.veteranscrisisline.net/" class="tp-link-policy" data-domain-ext="net">Veteran’s Crisis Line<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-273-TALK (8255) or <a href="https://www.veteranscrisisline.net/get-help/chat" class="tp-link-policy" data-domain-ext="net">Crisis Chat<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a> or text: 8388255</li>
        </ul>
        <p><strong>Find a health care provider or treatment for substance use disorder and mental health</strong></p>
        <ul>
        <li><a href="https://www.samhsa.gov/find-help/national-helpline" class="tp-link-policy" data-domain-ext="gov">SAMHSA’s National Helpline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-662-HELP (4357) and TTY 1-800-487-4889</li>
        <li><a href="https://findtreatment.samhsa.gov/" class="tp-link-policy" data-domain-ext="gov">Treatment Services Locator Website<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        <li><a href="https://data.cms.gov/Government/Map-Selected-Federally-Qualified-Health-Center-FQH/hqut-bhwm" class="tp-link-policy" data-domain-ext="gov">Interactive Map of Selected Federally Qualified Health Centers<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        </ul>
        </div>
    </div>
    </div>

    <button class='accordion'> <h3>Everyone reacts differently to stressful situations</h3></button>
    <div class ='panel'>
    <p>How you respond to stress during the COVID-19 pandemic can depend on your background, your social support from family or friends, your financial situation, your health and emotional background, the community you live in, and many other factors. The changes that can happen because of the COVID-19 pandemic and the ways we try to contain the spread of the virus can affect anyone.</p>
    <p>People who may respond more strongly to the stress of a crisis include:</p>

    <ul class="false">
        <li>People who are <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-at-higher-risk.html">at higher risk for severe illness</a> from COVID-19 (for example, older people, and people of any age with certain <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-with-medical-conditions.html">underlying medical conditions</a>).</li>
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/for-parents.html">Children</a> and <a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/stress-coping/young-adults.html">teens</a>.</li>
        <li>People <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/care-for-someone.html">caring for family members or loved ones</a>.</li>
        <li>Frontline workers such as <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/mental-health-healthcare.html">health care providers and first responders</a>,</li>
        <li>Essential workers who work in the <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/organizations/meat-poultry-processing-workers-employers.html">food industry</a>.</li>
        <li>People who have existing <a href="https://www.cdc.gov/mentalhealth/learn/index.htm">mental health conditions</a>.</li>
        <li>People who use <a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/stress-coping/alcohol-use.html">substances</a>&nbsp;or have a substance use disorder.</li>
        <li>People who have lost their jobs, had their work hours reduced, or had other major changes to their employment.</li>
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-with-disabilities.html">People who have disabilities</a> or developmental delay.</li>
        <li>People who are <a href="https://www.cdc.gov/aging/publications/features/lonely-older-adults.html">socially isolated</a> from others, including people who live alone, and people in rural or frontier areas.</li>
        <li>People in some <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/racial-ethnic-minorities.html">racial and ethnic minority groups</a>.</li>
        <li>People who do not have access to information in their primary language.</li>
        <li>People experiencing <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/homeless-shelters/index.html">homelessness</a>.</li>
        <li>People who live in <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/shared-congregate-house/index.html">congregate (group) settings</a>.</li>
        </ul>
    </div>
    
    <button class='accordion'> <h3>Healthy ways to cope with stress</h3></button>
    <div class ='panel'>
    <ul class="false">
        <li><strong>Know what to do if you are sick and are concerned about COVID-19</strong>. Contact a health professional before you start any self-treatment for COVID-19.</li>
        <li><strong>Know where and how to get treatment</strong> and other support services and resources, including counseling or therapy (in person or through telehealth services).</li>
        <li><strong>Take care of your emotional health.</strong> <a href="https://emergency.cdc.gov/coping/selfcare.asp">Taking care of your emotional health</a> will help you think clearly and react to the urgent needs to protect yourself and your family.</li>
        <li><strong>Take breaks from watching, reading, or listening to news stories</strong>, including those on social media. Hearing about the pandemic repeatedly can be upsetting.</li>
        <li><strong>Take care of your body</strong>.
        <ul class="false"></ul>
        <li>Take deep breaths, stretch, or &nbsp;<a href="https://www.nccih.nih.gov/health/meditation-in-depth" class="tp-link-policy" data-domain-ext="gov">meditate<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>.</li>
        <li><a href="https://www.cdc.gov/nccdphp/dnpao/features/national-nutrition-month/index.html">Try to eat healthy, well-balanced meals</a>.</li>
        <li>Exercise regularly</li>
        <li>Get plenty of sleep</li>
        <li>Avoid excessive alcohol and drug use</li>
        </ul>
        </li>
        <li><strong>Make time to unwind</strong>. Try to do some other activities you enjoy.</li>
        <li><strong>Connect with others</strong>. Talk with people you trust about your concerns and how you are feeling.</li>
        <li><strong>Connect with your community- or faith-based organizations</strong>. While social distancing measures are in place, consider connecting online, through social media, or by phone or mail.</li>
        </ul>
    </div>
    <button class='accordion'> <h3>Know the facts to help reduce stress</h3></button>
    <div class='panel'>
    <div class="col-md-12">
        <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">Knowing the facts about COVID-19</a> and stopping the spread of rumors can help reduce stress and stigma. Understanding the risk to yourself and people you care about can help you connect with others and make an outbreak less stressful.</p>
        <h2><strong>Suicide Prevention</strong></h2>
        <p>Different life experiences affect a person’s risk for suicide. For example, suicide risk is higher among people who have experienced violence, including child abuse, bullying, or sexual violence. Feelings of isolation, depression, anxiety, and other emotional or financial stresses are known to raise the risk for suicide. People may be more likely to experience these feelings during a crisis like a pandemic.</p>
        <p>However, there are ways to protect against suicidal thoughts and behaviors. For example, support from family and community, or feeling connected, and having access to in-person or virtual counseling or therapy can help with suicidal thoughts and behavior, particularly during a crisis like the COVID-19 pandemic.</p>
        <p>Learn more about CDC’s work in <a href="https://www.cdc.gov/violenceprevention/suicide/index.html">suicide prevention</a>.</p>
        <p>Other Resources:</p>
        <ul>
        <li><a href="http://www.suicidepreventionlifeline.org/" class="tp-link-policy" data-domain-ext="org">National Suicide Prevention Lifeline<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>: 1-800-273-TALK (8255) for English, 1-888-628-9454 for Spanish, or <a href="http://www.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx" class="tp-link-policy" data-domain-ext="org">Lifeline Crisis Chat<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a>.</li>
        <li><a href="https://www.samhsa.gov/find-help/suicide-prevention" class="tp-link-policy" data-domain-ext="gov">SAMHSA Suicide Prevention<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        <li><a href="https://afsp.org/risk-factors-and-warning-signs" class="tp-link-policy" data-domain-ext="org">Suicide Risk Factors and Warning Signs<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        <li><a style="background-color: #ffffff;" href="https://www.bethe1to.com/bethe1to-steps-evidence/" class="tp-link-policy" data-domain-ext="com">Five Action Steps for Communicating with Someone Who May Be Suicidal<span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a></li>
        </ul>
        <h2><a id="recovering-ending-isolation" class="onThisPageAnchor" title="Recovering from COVID-19 or ending home isolation"></a>Recovering from COVID-19 or ending home isolation</h2>
        <p>It can be stressful to be separated from others if you have or were exposed to COVID-19. Each person ending a period of home isolation may feel differently about it.</p>
        <p>Emotional reactions may include:</p>
        <ul class="false">
        <li>Mixed emotions, including relief.</li>
        <li>Fear and worry about your own health and the health of your loved ones.</li>
        <li>Stress from the experience of having COVID-19 and monitoring yourself, or being monitored by others.</li>
        <li>Sadness, anger, or frustration because friends or loved ones have fears of getting the disease from you, even though you are cleared to be around others.</li>
        <li>Guilt about not being able to perform normal work or parenting duties while you had COVID-19.</li>
        <li>Worry about getting re-infected or sick again even though you’ve already had COVID-19.</li>
        <li>Other emotional or mental health changes.</li>
        </ul>
        <p>Children may also feel upset or have other strong emotions if they, or someone they know, has COVID-19, even if they are now better and able to be around others again.</p>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
            });
        }
    </script>
</body>
</html>