<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>COVID-19 Testing Center</title>
  <meta name="description" content="COVID-19 Testing Center">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

    <h1>Testing Center: </h1> <br />
    <p>This is the closest testing center from your address "<strong>{{ fromAddy }}</strong>" </p>
    <p>Covid-19 Testing Site: <strong>{{ toAddy }}</strong></p>
</body>
</html>