<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Finding COVID-19 Testing Center</title>
  <meta name="description" content="Finding COVID-19 Testing Center">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div style ='text-align:center'>
    {% if error %}
        <pclass=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <h1>Find your local COVID-19 testing center.</h1>
    <p>Enter the address you would like to search from: </p>
    <form method="POST">
        <input name="addressText">
        <input type="submit">
    </form>
  </div>
</body>
</html>