<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Main COVID-19</title>
  <meta name="description" content="Main COVID-19">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div style='text-align: center'>
  <h1>Coronavirus Disease (COVID-19) - Help</h1>

  <p>Click on one of these links below for the help you need: </p>

  <a href="{{url_for('selfTest')}}">Feeling sick? Take a self-assessment test for Covid-19.</a> <br />

  <a href="{{url_for('covidTips')}}">Pandemics can be stressful. Learn some coping techniques here.</a> <br />

  <a href="{{url_for('inputAddress')}}">Want to get tested for COVID-19? Find your nearest testing center here.</a> <br />
  </div>
</body>
</html>